<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/feher-tamas/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="feher-tamas" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
